
body{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background: url(./background.jpg);
}
.caixa{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    position: relative;
    width: 940px;
    margin: 0 auto;
    top: -403px;
}
.produtos{
    width: 940px;
    margin: 0 auto;
    padding: 50px 0;
}

.produtos li{
    display: inline-block;
    text-align: center;
    width: 30%;
    vertical-align: top;
    margin: 0 1.5%;
    padding: 30px 20px;
    box-sizing: border-box;
    border: solid 2px #000000;
    border-radius: 10px;
    

}

.produtos li:hover{
    border-color: #c78c19;
}
.produtos li:active{
    border-color: #088c19;
}

.produtos h2{

    font-size: 30px;
    font-weight: bold;

}

.produtos li h2:hover{
    font-size: 44px;
}   

.lista{
    font-size: 30px;
}
.lista img{
    width: 150px;
}
.preco{
    text-align: center;
    color: red;
    font-size: 25px;
    text-decoration: underline;
}
.titulo-principal{
   color: #f8c6e3;
   text-decoration: underline;
}
.titulo-secundario{
    text-align: center;
    font-size: 40px;
}
h3{
    text-align: center;
    color: red;
    font-size: 25px;
}
.paragrafo{
    text-align: center;
    font-size: 20px;
}
.paragrafo h4{
    color: #f8c6e3;
    font-size: 25px;
}
nav{
    position: absolute;
    top: 126px;
    right: 0;

}

nav li{
 display: inline;
 margin: 0 0 0 15px;
}

nav a{
    text-transform: uppercase;
    color: #000000;
    text-decoration: none;
    font-weight: bold;
    font-size: 22px;
}

nav a:hover{
    color: #f8c6e3;
    text-decoration: underline;
}
.finalizacao{
    text-align: center;
    margin: 0 0 65px 0;
    color: #2b0019;
}
.finalizacao h2{
    font-size: 30px;
    color: red;
}
footer{
    text-align: center;
    background:url(./bg2.jpg); 
    padding: 40px 0;
}
footer img{
    width: 250px;

}
.copy{
    color: #FFFFFF;
    font-size: 13px;
    margin: 20px 0;
}